.ab-editor-modal {
  :global {
    .g-half-screen-modal-wrapper {
      overflow-y: hidden;
    }
  }
}

.modal {
  color: #333;
  text-align: left;
}

.ability-item {
  padding: 4px 10px;
  font-size: 13px;
  border-bottom: solid 1px #ededed;
  .name {
    padding-left: 4px;
    padding-right: 10px;
    color: #36c;
  }
  .desc {
    color: #777;
  }

  .tags {
    margin-top: 4px;
  }
}

.ability-editor {
  width: 100%;
  padding: 10px 16px;
  min-height: 70vh;
  text-align: left;

  .editor-actions {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;

    .btn {
      display: inline-block;
      margin-right: 20px;
      font-size: 13px;
      color: #36c;
      cursor: pointer;

      &:last-of-type {
        margin: 0;
      }

      &.close {
        color: #aaa;
      }

      &.danger {
        color: rgb(233, 79, 19);
      }

      &.info {
        position: relative;
        top: -2px;
        opacity: 0.5;
      }
    }
  }

  .tags-picker {
    padding-top: 8px;
    padding-bottom: 100px;
    border-top: solid 1px #ededed;
    height: calc(100vh - 200px);
    overflow-y: scroll;
    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
    }
  }
}

.title-input {
  position: relative;

  .sharp {
    color: #888;
    font-size: 16px;
    margin-right: 10px;
    font-family: monospace;
  }

  .actions {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
  }

  .ai-btn {
    cursor: pointer;
    margin-left: 10px;

    &:first-of-type {
      margin-left: 0;
    }

    .ai-icon {
      width: 16px;
      height: 16px;
    }

    .loading-txt {
      font-size: 12px;
      color: #999;
    }
  }
}

.keyword-section {
  position: relative;
  padding: 4px 0;
  font-size: 12px;
  line-height: 1;
  .tip {
    color: #999;
  }
  .keywords {
    color: #666;
  }
  .close {
    margin-left: 10px;
    background-color: #ededed;
    padding: 2px 6px;
    border-radius: 4px;
    font-size: 10px;
    color: #333;
    cursor: pointer;
    line-height: 1;
  }
}

.ai-names {
  .ai-name {
    display: inline-block;
    padding: 4px 6px;
    margin-right: 10px;
    cursor: pointer;
    font-size: 12px;
    border: solid 1px #ccc;
    border-radius: 4px;
    background: #fff;
    line-height: 1;
    &:last-of-type {
      margin-right: 0;
    }
  }
}

.ai-descs {
  position: relative;
  margin-bottom: 20px;
  .ai-desc {
    margin-bottom: 8px;
    padding: 6px 8px;
    background: #eef7ff;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    line-height: 1.2;
  }
  .close {
    position: absolute;
    top: -22px;
    right: 0;
    font-size: 12px;
    color: #36c;
    cursor: pointer;
  }
}
