.tag-preview-btn {
  display: inline-block;
  width: 16px;
  height: 16px;
}

.tag-preview-modal {
  position: fixed;
  top: 0;
  left: 0;
  padding: 10px;
  padding-top: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background-color: #fff;
  overflow: scroll;

  .actions {
    position: sticky;
    top: 0;
    padding-top: 6px;
    width: 100%;
    height: 30px;
    background-color: #fff;
    z-index: 1;
  }

  .btn {
    display: inline-block;
    margin-right: 20px;
    font-size: 13px;
    color: #36c;
    cursor: pointer;

    &:last-of-type {
      margin: 0;
    }

    &.close {
      position: absolute;
      right: 10px;
      color: #aaa;
    }

    &.danger {
      color: rgb(233, 79, 19);
    }
  }

  .content {
    padding-top: 10px;

    .tag-wrap {
      display: flex;
      font-size: 14px;
      margin-bottom: 6px;
    }

    :global(.g-tag) {
      flex-shrink: 0;
      height: fit-content;
    }

    .tag-desc {
      position: relative;
      vertical-align: top;
      color: #666;
    }
  }
}
